.header__logo {
  background-image: url(../../../images/__logo.png);
  width: 176px;
  height: 52px;
  background-size: cover;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
 }
}