.lead__title {
  font-family: Inter;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.05;
  color: #FFFFFF;
  margin: 48px auto 0;
  max-width: 720px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .lead__title {
    max-width: 720px;
    font-size: calc( (100vw - 320px)/(767 - 320) * (95 - 40) + 40px);
    font-weight: 900;
    line-height: 1.1;
  }
}
