.intro__title {
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.1;
  color: white;
  max-width: 690px;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.1;
    padding-right: 50px;
  }
}

