.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-columns: repeat(4, 1fr); /* работает так же, возможно пригодится */
  grid-gap: 16px;
  justify-content: center;
  list-style-type: none;
  margin: 92px 0 92px;
  padding: 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-gap: 16px;
    margin: 88px 0 88px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .photo-grid__list {
    grid-gap: 14px;
  }
}