.cover__title {
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.1;
  color: white;
  text-align: center;
  margin: 0 auto;
  max-width: 560px;
}


@media (min-width: 320px) and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.1;
    padding: 0 35px;
  }
}