.lead__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: white;
  margin: 32px auto 0;
  max-width: 640px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .lead__subtitle {
    max-width: 640px;
    font-size: calc( (100vw - 320px)/(767 - 320) * (30 - 16) + 16px);
    padding: 0 29px;
    margin: 16px auto 0
  }
}
